################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/backEnd/03.Endpoints/EndPoints.API/obj
/src/backEnd/02.Infra/Data/Infra.Data.Sql.Queries/obj
/src/backEnd/02.Infra/Data/Infra.Data.Sql.Commands/obj
/src/backEnd/01.Core/Core.DomainServices/obj
/src/backEnd/01.Core/Core.Domain/obj
/src/backEnd/01.Core/Core.Contracts/obj
/src/backEnd/01.Core/Core.ApplicationServices/obj

/src/backEnd/03.Endpoints/EndPoints.API/bin
/src/backEnd/02.Infra/Data/Infra.Data.Sql.Queries/bin
/src/backEnd/02.Infra/Data/Infra.Data.Sql.Commands/bin
/src/backEnd/01.Core/Core.DomainServices/bin
/src/backEnd/01.Core/Core.Domain/bin
/src/backEnd/01.Core/Core.Contracts/bin
/src/backEnd/01.Core/Core.ApplicationServices/bin
